<ion-content class="background">
  <br><br>
    <ion-item-group>
        <ion-avatar>
          <img src="../../assets/avatars/av_07.png"> 
        </ion-avatar>
        <h2 class="white thin" text-center>Diana Sanchéz</h2>
        <h4 class="white thin-mail" text-center>diana.Sanz@mail.com</h4>
      </ion-item-group>
      <ion-card class="rank">
 <h3 class="rank-font" text-center>Cliente
 <ion-icon name="star"></ion-icon>
 <ion-icon name="star"></ion-icon>
 <ion-icon name="star"></ion-icon>
 <ion-icon name="star-half"></ion-icon>
 <ion-icon name="star-outline"></ion-icon></h3>
      </ion-card>

      <ion-card text-center class="white-card">
      <ion-row>
        <ion-col size="2">

        </ion-col>

        <ion-col size="8">
            
                <h3 class="question-font primary-font-question">Teléfono:</h3>
                <h2 class="response-font primary-font" >555555555</h2>
        <br>
                <h3 class="question-font primary-font-question">Contraseña:</h3>
                <h2 class="response-font primary-font" >********</h2>
        
                <ion-card text-center  class="primary-button " (click)="irTab('tab1')">
                 <h3 class="button-font">Mis viajes</h3>
                </ion-card>
        
                <ion-card text-center class="primary-button ">
                  <h3  class="button-font">Mis Formas de pago</h3>
                </ion-card>

                <ion-card text-center class="primary-button ">
                    <h3  class="button-font">Configuración</h3>
                </ion-card>
              
        </ion-col>

        <ion-col size="2">

        </ion-col>
      </ion-row>
    </ion-card>

      
</ion-content>

