ion-toolbar.background{
    --background: url(../../../assets/backg.png ) 0 0/100% 100% no-repeat;
  }
ion-content.background{
    --background: url(../../../assets/backg.png ) 0 0/100% 100% no-repeat;
  }

.white-card{
    background-color: #ffffff;
}

.icon-big{
    font-size: 13px;
}

.font-win{
    font-size: 18px;
}

.font-big{
    font-size: 32px;
}

ion-title{
    color: #ffffff;
}
