<ion-content class="background">
  <ion-row>
    <ion-col size="4">
        <ion-avatar>
            <img src="../../assets/avatars/av_07.png"> 
        </ion-avatar>
    </ion-col>
    <ion-col size="8">
        <h2 class="white" text-center>Diana Sanchéz</h2>
        <h4 class="white" text-center>diana.Sanz@mail.com</h4>
    </ion-col>
  </ion-row>
  <!--Bloque de viajes-->
  <ion-card class="white-card">
    <h1 class="primary-font medium-subtitle" text-center>Mis Viajes</h1>
   <ion-row>
          <ion-col size="8">
              <h3 text-center class="primary-font small-subtitle">Destino</h3>
          </ion-col>
          <ion-col size="4">
              <h3 text-center class="primary-font small-subtitle">Valoración</h3>
          </ion-col>
        </ion-row>
    <ion-row>
     <ion-col size="8">
      <ion-list>
      <h3 class="rank-font primary-font viajes-font" >Zócalo - Fantasías Miguel </h3>
      <h3 class="primary-font viajes-font">$20</h3>
      <!--Chofer/ Ciliente-->
      <h3 class="primary-font viajes-font" >Juan González
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
          <ion-icon name="star-outline"></ion-icon></h3>
      </ion-list>
     </ion-col>
     <ion-col size="4">
      <ion-list>
          <h3 text-center class="primary-font viajes-font">4.5</h3>
          <h3 class="primary-font viajes-font" text-center>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon></h3>
      </ion-list>
     </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
        <ion-list>
            <h3 class="rank-font primary-font viajes-font" >Bellas Artes - Palacio Nacional </h3>
      <h3 class="primary-font viajes-font">$80</h3>
      <!--Chofer/ Ciliente-->
      <h3 class="primary-font viajes-font" >Abel García
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
          <ion-icon name="star-outline"></ion-icon></h3>
        </ion-list>
    </ion-col>
    <ion-col size="4">
        <ion-list>
            <h3 text-center class="primary-font viajes-font">5</h3>
      <h3 class="primary-font viajes-font" text-center>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon></h3>
        </ion-list>
    </ion-col>
   </ion-row>
   <ion-row>
      <ion-col size="8">
        <ion-list>
            <h3 class="rank-font primary-font viajes-font" >Palacio Nacional - Templo Mayor</h3>
            <h3 class="primary-font viajes-font">$10</h3>
            <!--Chofer/ Ciliente-->
            <h3 class="primary-font viajes-font" >Juan González
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon></h3>
        </ion-list>
      </ion-col>
      <ion-col size="4">
        <ion-list>
            <h3 text-center class="primary-font viajes-font">4</h3>
            <h3 class="primary-font viajes-font" text-center>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon></h3>
        </ion-list>
      </ion-col>
   </ion-row>
  </ion-card>
</ion-content>
