.logo{
  max-width: 100%;
  }
  
  .primary-button{
    
      border-radius: 108px 108px 108px 108px;
    -moz-border-radius: 108px 108px 108px 108px;
    -webkit-border-radius: 108px 108px 108px 108px;
    border: 1px solid #ffffff00;
    width: 100%;
    background-image: linear-gradient(-90deg, #006e7f, #007f63);
    }
  
    .secondary-button{
    
      border-radius: 108px 108px 108px 108px;
    -moz-border-radius: 108px 108px 108px 108px;
    -webkit-border-radius: 108px 108px 108px 108px;
    border: 1px solid #ffffff00;
    width: 100%;
    background-image: linear-gradient(-90deg,  #007f63, #006e7f);
    }
  
    h3.button-font{
      font-size: 25px;
      color: #000000;
      font-weight: 400;
    }
  
    .icon-log {
        font-size: 50px;
        color: #000000;
    }
  
    h1{
        color: #888484;
        font-weight: 300;
    }
